<script src="/socket.io/socket.io.js"></script>
<link rel="stylesheet" type="text/css" href="/styles" media="screen" />

<div id="header" style="width:100%; overflow: hidden; position:relative;">
	<a id="login"style="position:absolute; top:0px; right:25px; font-family: main_font;"href="/login">Log In</a>
  <div id="itemIWantToCenter" style="width:200px;margin:0 auto;display:block;">
    <h1 style="color: white; margin: 0px; padding: 0px;">Advance</h1> 

  </div>
</div>
