<html>
<%- include header.ejs %>

<div id="center_div" style="text-align: center;">
<h1 style="font-size: 100px;">Log In!</h1>
<form action="/verify_login" method="POST">
<input id="Username" name="Username" placeholder="Username"required> <br>
<input id="Password" name="Password" placeholder="Password"required> <br>
<input type="submit">
</div>


</form>

</html>