<html>
<%- include header.ejs %>

<div style="width: 100%; text-align: center; ">
<h1 id="code"style="color:var(--color_1); font-size: 70px;"> <%= game_code %></h1>
</div>


<script src="/popup_control"></script>
</html>